<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login Page</title>
  <link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>
<body>
  <div class="login-container">
    <div class="imgcontainer">
      <img src="/static/assets/image.png" alt="Image" class="image">
    </div>
    <h1>Login</h1>
    <form id="loginForm" onsubmit="validateLogin(event)">
      <label for="email">Email</label>
      <input type="email" id="email" placeholder="Enter Email (e.g.,abcd@gmail.com)" required>
      <label for="password"
       >Password</label>
      <input type="password" id="password" placeholder="Enter Password" required>
      <span id="errorMessage" class="error-message"></span>
      <button type="submit">Login</button>
      <button id="google-login-btn">Login with Google</button>

<script>
    document.getElementById('google-login-btn').addEventListener('click', function() {
        window.location.href = '/login/google';
    });
</script>

    </form>
  </div>
  <script src="/static/js/login.js"></script>

</body>
</html>