<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
  <link rel="stylesheet" href="/static/css/resetpassword.css">
  

</head>
<body>
  <div id="reset-password-container">
    <form id="reset-password-form" onsubmit="handleResetPassword(event)">
      <h2>Reset Password</h2>
      <label for="password">New Password:</label>
      <input type="password" id="password" name="password" required minlength="6">
      
      <label for="confirm-password">Confirm Password:</label>
      <input type="password" id="confirm-password" name="confirm-password" required minlength="6">
      
      <button type="submit">Reset Password</button>
      <div id="message-box" aria-live="polite"></div> <!-- For success or error messages -->
    </form>
  </div>
  <script src="/static/js/resetpassword.js"></script>

</body>
</html>